<li>
	<span class="content"><%= calendar.content %></span>
	<span class="title"><%= calendar.title %></span>
	<span class="event"><%= calendar.event %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(micropost.created_at) %> ago.
	</span>
</li>